body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background: #fcfcf6;
}

/* NAV  */
nav{
    background: #330099;
}
.container{
    max-width: 1000px;
}

nav .container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navLinks{
    margin: auto 0;
    color: white;
    font-size: 1.15rem;
}
a{
    color: white;
    text-decoration: none;
    padding: 5px;
}
.activePage{
    text-decoration: underline;
}
.navTitle{
    color: white;
}

@media (max-width: 800px) {
    nav .container{
        flex-direction: column;
        margin: auto;
    }

}

/*  Booking */

.book{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
.book h2{
    color: #1E0257;
}

#datePicker{
    font-size: 1.5rem;
    cursor: pointer;
}

#check, .btn-Link{
    font-size: 1rem;
    font-weight: 800;
    color: white;
    background: #330099;
    padding:10px 25px;
    border-radius: 1000px;
    border: none ;
    margin-top: 1.5em;
    cursor: pointer;
}

.slots{
    color: black;
    font-size: 1.5rem;
}

.bookItem{
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .book{
        flex-direction: column;
    }

}

.dialog-form{
    margin:0 auto;
    text-align: center;
}

.select{
    margin-top: 10px;
}

#datePicker{
    border: #330099 3px solid;
    border-radius: 5px;
}

.btn-Link{
    margin-top: 10px;
}

.dialog{
    border-radius: 20px;
    border: 5px #330099 solid;
}

.dialog h2{
    color: #1E0257;
}
/* Add this to your CSS file */
.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

#close {
    cursor: pointer;
    font-weight: 800;
}

.dialog-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.click-to-book{
    font-size: 0.8rem;
    margin-top: -20px;
    margin-bottom: 0;
}